@import '../../../styles/variables';

.drag-and-drop-component {
    background-color: $primary-light;
    border: 1px solid $primary;
    border-radius: 0.125rem;
    height: 118px;
    width: 100%;
    position: relative;

    input {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        height: 118px;
        width: 100%;
        cursor: pointer;
    }

    &-content {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
		text-align: center;
		color: $primary;

        &--wrapper {
            text-align: center;
            margin: 1rem 0;

            .icon {
                color: $primary;
            }
        }

        &--value {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 1rem;

            .close__btn {
                cursor: pointer;
            }
        }

		i {
			font-size: 3rem;
			color: $primary;
		}

		.remove-icon {
			font-size: 1.5rem;
			color: $red;
			cursor: pointer;
		}
	}

    .height__0 {
        height: 0;
        padding: 0;
    }
}

.height__addon {
    height: 40px;
}