@import '../../../../styles/variables.scss';

.user-info-component {
    padding: 10px 20px;
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: center;

    .avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    p {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .name {
        font-size: 1.2rem;
    }

    button, button:hover {
        color: $red;
        border-color: $red;
        margin-top: 12px;
    }
}
