@import './variables.scss';
@import 'bootstrap';

input {
    border-radius: 3px;
    border: solid 1px lightgray;
    outline: none;
    padding: 5px 10px;

    &:focus {
        border-color: $primary;
    }
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.rc-tooltip {
    opacity: 1 !important;
}

button {
    border-radius: 3px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

button[type="submit"] {
    margin-top: 10px;
}

.error {
    input {
        border-color: $red;
    }

    small {
        color: $red;
    }
}

.pdf {
    color: $red !important;
}

.txt {
    color: $primary !important;
}

.img {
    color: $yellow !important;
}

.video {
    color: $green !important;
}
