@import '../../styles/variables.scss';

.sign-up-component {
    background-image: linear-gradient($primary, $primary-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
    }

    .card {
        align-items: center;
        width: 30%;

        .card-body {
            width: 100%;
        }
    }

    .alert {
        text-align: center;
        margin-top: 16px;
        width: 30%;
    }

    a {
        display: block;
        text-align: center;
    }
}