@import '../../styles/variables.scss';

.home-component {
    .breadcrumb {
        border-radius: 0;
    }

    .home-container {
        display: flex;

        .home-title {
            display: flex;
            align-items: center;
            margin: 10px 0;

            svg {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }

        .card {
            cursor: pointer;

            .card-body {
                padding: 10px;

                .card-title {
                    color: darkslategray;
                    text-align: center;
                    margin: 0;
                }
            }
        }

        .detail {
            width: 30%;
            padding: 0 15px;
            border-left: solid 0.5px #e9ecef;

            .detail-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    color: $primary;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    fill: $primary;
                }
            }

            p {
                margin: 0;
            }

            .label {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}
