@import '../../styles/variables.scss';

.folder-component {
    .breadcrumb {
        border-radius: 0;
        margin-bottom: 0;
    }

    .settings-bar {
        padding: 1rem;
        border-bottom: solid 1px $light-gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: darkgray;

        i {
            font-size: 1.8rem;
            cursor: pointer;
        }

        .info {
            cursor: pointer;
            border: solid 2px darkgray;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin-left: 5px;
        }
    }

    .folder-container {
        display: flex;

        .folder-title {
            display: flex;
            align-items: center;
            margin: 10px 0;

            i {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }

        .card {
            cursor: pointer;

            &.selected {
                border-color: $primary;
                background-color: $primary-light;

                .card-title {
                    color: $primary !important;
                }
            }

            .card-body {
                padding: 10px;
                display: flex;
                align-items: center;

                i {
                    margin-right: 10px;
                    color: darkslategray;
                    font-size: 1.5em;
                }

                .card-title {
                    color: darkslategray;
                    text-align: center;
                    margin: 0;
                }
            }
        }

        .detail {
            width: 40%;
            padding: 15px;
            border-left: solid 0.5px #e9ecef;

            a {
                display: block;
                text-decoration: none;
                background-color: $primary;
                color: white;
                text-align: center;
                border-radius: 3px;
                padding: 5px;
                margin-top: 10px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .detail-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: darkslategray;

                i {
                    font-size: 1.5em;
                }

                div {
                    display: flex;

                    i {
                        margin-right: 10px;
                    }
                }

                .fa-pen {
                    color: $yellow;
                    cursor: pointer;
                }

                .fa-times {
                    color: $red;
                    cursor: pointer;
                }
            }

            p {
                margin: 0;
            }

            .label {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}
